body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
header{
  grid-column: span 10;
}
h1{
  color: white;
}
.img{
  border: solid 3px black;
  width: 150px;
  border-radius: 80px;
  margin-top: 0px;
}
nav{
  grid-column: span 2;
}
nav li{
  display: block;
  margin-bottom: 24px;
}
nav li a{
  color: white;
  text-decoration: none;
}
nav li a:hover{
  font-weight: bold;
}
main{
  text-align: center;
  grid-column: span 12;
}
main p{
  color: white;
}
